
.todo-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

  &:hover {
    background-color: rgb(164, 183, 218);
    //background-color: red;
  }


  h4 {
    font-size: 100%;
    margin: 0;
    padding: 0 0 0 10px;
  }

  .todo-title-counts-container {
    button {
      margin: 5px;
      border-radius: 25%;
      background-color: cornflowerblue;
      color: black;
    }
  }
}

// .todo-title-container:hover {
//   background-color: rgb(164, 183, 218);
//   // background-color: red;
// }
  .highlight {
    background-color: rgb(164, 183, 218);
  }
