
.todo-list-head-container {
  display: flex;
  align-items: flex-start;
  align-items: stretch;
  border: 1px solid;
  padding: 0;
  margin: 0;
  font-size: 18px;

  #div-completed {
    border-right: 1px solid;
    margin: 0 0 0 0;
    padding: 0 10px 0 10px;

    input {
      border: 1px solid;
    }
  }

  #div-header {
    border-right: none;
    padding-right: 0;
    display: flex;
    flex: 1;

    input {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      flex: 1;
    }
  }

  #div-trash {
    a {
      color: #666666;
      padding: 0 10px 0 10px;
      margin: 0;
      
      &:active { 
        color: pink;
      }
    }
      

    
  }

}

