
.app-container {
  display: flex;
  justify-content: stretch;
}

.app-todos {
  flex: 1;
  border: 1px solid;
  background-color: aqua;
}

.app-todolist {
  flex: 3;
  border: 1px solid;
  background-color: aqua;
}