<ng-container *ngIf="_reload">

<app-header></app-header>
<div class="app-container">
  <h1></h1> 

  <app-form-user *ngIf="isNewUser" (submit)="onNewUser($event)"></app-form-user>
  <div class="app-container-user-detailes">
    
    <div class="new-user refresh-user">
      <a [ngClass]="{disabled: ! username}" href="#" (click)="onRefreshClick()">Refresh</a>
      <a href="#" (click)="onNewUserClick()">New User</a>
    </div>  

    <div class='app-container-username'>
      <label for="name">User Name:</label>
      <input type="text" [value]="username" (keyup)="onUsername($event)">
    </div>

    <div class='app-container-username'>
      <label for="display">Display Name:</label>
      <input type="text" [value]="displayName">
    </div>

  </div>

  <p *ngIf="!username">Please add a username</p>

  <div *ngIf="!success && username && ! isFetching" class="alert alert-danger" role="alert">    
    Username {{ username }} is not found
  </div>

  <div *ngIf="success && username" class="app-container-main">
    <app-todos
      class="app-todos"
      [data]="data"
      (todoTitleClick)="onTodoTitleSelected($event)"
      (todoAddTodoClick)="onTodoAddSelected($event)">
    </app-todos>
    <app-todo-list
      class="app-todo-list"
      [todo]="current"
      (todoAddNewItem)="onAddNewItem($event)"
      (todoEditItem)="onEditItem($event)"
      (todoDeleteItem)="onDeleteItem($event)">
    </app-todo-list>
  </div>

  <app-todo-alert [alerts]="alertsSubject.asObservable()"></app-todo-alert>
</div>

</ng-container>
