<ng-container *ngIf="_reload">

<div class="app-container">
  <h1>Intel ToDo Home Assignment</h1>

  <app-form-user *ngIf="isNewUser" (submit)="onNewUser($event)"></app-form-user>
  <div class="app-container-user-detailes">
    
    <div id="new-user">
      <a href="#" (click)="onNewUserClick()">New User</a>
    </div>

    <div class='app-container-username'>
      <label for="name">User Name:</label>
      <input type="text" [value]="username" (keyup)="onUsername($event)">
    </div>
    <div class='app-container-username'>
      <label for="display">Display Name:</label>
      <input type="text" [value]="displayName">
    </div>
  </div>

  <p *ngIf="!username">Please add a username</p>
  <div *ngIf="username" class="app-container-main">
    <app-todos
      class="app-todos"
      [data]="data"
      (todoTitleClick)="onTodoTitleSelected($event)"
      (todoAddTodoClick)="onTodoAddSelected($event)">
    </app-todos>
    <app-todo-list
      class="app-todo-list"
      [todo]="current"
      (todoAddNewItem)="onAddNewItem($event)"
      (todoEditItem)="onEditItem($event)"
      (todoDeleteItem)="onDeleteItem($event)">
    </app-todo-list>
  </div>
</div>

</ng-container>
