h1 {
  color: blue;
}
.form-row {
  padding: 10px 0;

  /* flex needs to define on the parent container so it can handle its childrens */
  display: flex;
}

.form-row label {
  padding-right: 10px;
}

.form-row input {
  flex: 1;  /* grow and fill in the avaiable space in a row*/
}