  <app-form-user>
    <p>Form</p>

  </app-form-user>

<div class="app-container">
  <h1>Intel ToDo Home Assignment</h1>

  <div class='app-container-username'>
    <label for="name">User Name:</label>
    <input type="text" [value]="username" (keyup)="onUsername($event)">
  </div>
  <div class='app-container-username'>
    <label for="name">Display Name:</label>
    <input type="text" [value]="displayName" (keyup)="onUsername($event)">
  </div>


  <p *ngIf="!username">Please add a username</p>
  <div *ngIf="username" class="app-container-main">
    <app-todos
      class="app-todos"
      [data]="data"
      (todoTitleClick)="onTodoTitleSelected($event)"
      (todoAddTodoClick)="onTodoAddSelected($event)">
    </app-todos>
    <app-todo-list
      class="app-todo-list"
      [todo]="current"
      (todoAddNewItem)="onAddNewItem($event)"
      (todoEditItem)="onEditItem($event)"
      (todoDeleteItem)="onDeleteItem($event)">
    </app-todo-list>
  </div>
</div>


