
.todo-title-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;


  h4 {    
    font-size: 120%;
    margin: auto;
  }
  .todo-title-counts-container {

    button {
      margin: 5px;
      border-radius: 25%;
      background-color: cornflowerblue;
      color: black;      
    }
  }
}
.todo-title-container:hover {
  background-color: rgb(164, 183, 218);
}