<div class="header-container">         
  <h2 class="header-title">
  <a class="header-titile-name" href="#">Intel ToDo Home Assignment [</a>
  <a class="tsemach-link" href="https://github.com/tsemach/intel-todo">github</a>               
  <a class="header-titile-name" href="#">]</a>
  </h2>
      
  <ul class="header-menu">    
    <li><a href="https://www.npmjs.com/package/rx-txjs">Rx-TXJS</a></li>
    <li><a href="https://tsemach.github.io/">Python</a></li>
    <li><a href="https://tsemach.github.io/react-css/">React</a></li>
    <li><a href="https://github.com/tsemach">Other Stuff</a></li>
  </ul>      
</div>
