<!-- <form>
  <div class="form-group">
    <label for="userName">Username</label>
    <input id="userName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="displayName">Display Name</label>
    <input type="text" id="displayName" class="form-control">
  </div>
  <button class="btn btn-primary">Submmit</button>
</form> -->

<div class="form-group" id="add-user">
  <div class="field">
    <label>User Name:</label>
      <input type="text" required [(ngModel)]="userName" name="firstName" #firstName="ngModel"  [ngModelOptions]="{standalone: true}"/>
    </div>

  <div class="field">
    <label>Display Name:</label>    
    <input type="text" required [(ngModel)]="displayName" name="displatName" #firstName="ngModel"  [ngModelOptions]="{standalone: true}"/>
  </div>
  <button (click)="onSubmit()">+</button>
</div>
